<h2 mat-dialog-title class = "dialog-title">{{data.title}}</h2>

<mat-dialog-content class = "popup-body">

  <div *ngIf = "!(data.action === 'All Students in Course') && backendService.courses().length > 0" class = "course-grid">

    <div class = "course-card" *ngFor="let course of backendService.courses()">

      <h3 class="course-title">{{course.name}}</h3> <!--The course.name comes from the course-dto.ts file under models tab in explorer-->

      <p><strong>Course ID:</strong> {{course.id}}</p>

      <p><strong>Topic:</strong> {{course.topic?.name}}</p>

      <p><strong>Time:</strong> {{course.starttime}} - {{course.endtime}}</p>

      <p><strong>Teacher:</strong> {{course.teacher.firstName}} {{course.teacher.lastName}}</p>

      <p *ngIf="backendService.courses().length === 0"> No Courses Available.</p>

    </div>
  </div>

  <div *ngIf = "data.action === 'All Students in Course' && backendService.students().length > 0" class = "course-grid">

    <div class = "course-card" *ngFor="let student of backendService.students()">

      <h3 class="course-title">{{student.firstName}} {{student.lastName}}</h3>

      <p><strong>ID:</strong> {{student.id}}</p>

      <p *ngIf="backendService.students().length === 0"> No Students Available.</p>
    </div>
  </div>



</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color = "primary" (click) = closePopup()>Close</button>
</mat-dialog-actions>
