<h2 mat-dialog-title class = "dialog-title">{{data.title}}</h2>

<mat-dialog-content class = "popup-body">
  <div class = "topic-grid" *ngIf="backendService.topics().length > 0">

    <div class = "topic-card" *ngFor="let topic of backendService.topics()">

      <div class = "topic-header">

        <h3 class = "topic-title">{{topic.name}}</h3>

        <p class = "topic-id"><strong>ID:</strong>{{topic.id}}</p>

      </div>
    </div>
  </div>

  <p *ngIf="backendService.topics().length === 0"> No Topics Available.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color = "primary" (click) = closePopup()>Close</button>
</mat-dialog-actions>
