<h2 mat-dialog-title class = "dialog-title">{{data.title}}</h2>

<mat-dialog-content class = "popup-body">

    <div class = "topic-grid" *ngIf="options().length > 0">

      <div class = "topic-card" *ngFor="let o of options()">

        <div class = "topic-header">

         <h3 class = "topic-title">{{o.name}}</h3>

          <p class = "topic-id"><strong>ID:</strong>{{o.id}}</p>

        </div>
      </div>
    </div>
    <p *ngIf="options().length === 0"> No Values Available.</p>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color = "primary" (click) = closePopup()>Close</button>
</mat-dialog-actions>
