<p>All Students</p>

<table *ngIf = "students != null">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>ID</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor = "let s of students | async">
    <td>{{s.firstName}}</td>
    <td>{{s.lastName}}</td>
    <td>{{s.id}}</td>
    <td> <button (click) = updateStudent(s.id,s.firstName,s.lastName)>Update</button> </td>
    &nbsp;|&nbsp;
    <td> <button (click) = deleteStudent(s.id)>Delete</button> </td>
  </tr>
</table>

<ng-template #noData>
  <p>No students found in database</p>
</ng-template>
